<h2>Experience</h2>
<div  *ngFor="let item of boktiyar" class="menu-item container-fluid mt-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <div class="row my-5">
        <div class="iteml col-12 col-md-6 col-lg-6 col-xl-4">
          <div class="row Item-inside">
            <div class="col-12 col-md-12 col-lg-4 img-div">
              <img src="https://www.phoca.cz/images/projects/phoca-download-r.png" alt="ooo"/>
            </div>
            <diV class="col-12 col-md-12 col-lg-8">
              <div class="main-title pt-4 pb-3">
                <h4>{{item.compan}}</h4>
                <h5>{{item.company}}</h5>
                <P>{{item.startDate}}</P>
                <h4>{{item.loca}}</h4>
                <p>{{item.localtion}}</p>
                <p>{{item.endDate}}</p>
                <p>{{item.locaa}}</p>
                <h4>{{item.sift}}</h4>
                <p>{{item.gett}}</p>
                <p>{{item.locaaa}}</p>
              </div>
            </diV>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>